<!DOCTYPE html>
<html>
<head>
  <title>Grab Coding</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<header></header>

<main>

  <h1></br>Learn to code from scratch</h1>
  <p>Our courses are designed to teach you the basics of coding, from HTML and CSS to JavaScript and Python.</p>
  <h3>Grab coding is trusted by many Students,</br> Enrol  yourself ASAP</h3>
</br></br>
<form action="/signup" method="post">
  <input type="email" id="e-mail" name="userMail" placeholder="Enter Your Email Address" required>
  <button id="Start-btn" class="startbutton"> Join Now</button>
</form>
</br></br></br>
<p id="message" class="message"></p>
  <p>The journey of a thousand miles begins with a single step</p>
</br></br>
  <video width="320" height="240" hidden id="video" controls>
    <source src="/video/Project one.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</br>
  <button id="demo" class="demo">Click here to get quic intro</button>
  <button id="closeBtn" class="closeBtn"  onclick="closeVideo()" hidden>Close this Qick intro</button>
  
</main>

<footer>
  <p>&copy; 2023 Grab Coding</p>
</footer>

  <script src="/public/Js/Home.js"></script>
</body>
</html>
