<!DOCTYPE html>
<html>
<head>
  <title>Instructor Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">
</head>
<body>
  <!-- Import the navbar -->
  <%- include('navbar.ejs') %>

  <div class="dashboard-content">
    
    <!-- Display the number of courses published by the instructor -->

    <!-- Add Course Button -->
    <a href="/add-course">Add Course</a>
  </div>
</body>
</html>
